.lista{
  list-style-type: none;
  height: 100%;
  width: 100%;
}
.marginTop{
  margin-top: 8%;
}
.marginBot{
  margin-bottom: 8%;
}
.habilidades{
  display: flex;
}

.background-gradient{
  padding: 12% 0;
  background-image: linear-gradient(150deg,#9500ff,#09f,#0df);
  display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width:0px) and (max-width:767px){
  .background-gradient{
    padding: 20% 0;
  }
}

/* @media only screen and (min-width:1390px){
  .background-gradient{
    padding: 11% 0;
  }
} */










*{
  margin: 0;
  padding: 0;
}